@charset "utf-8";
/* CSS Document */

aside#slide{
	background-color:#333;
	margin-left: 160px;
	width: 75%;
}

.slide-pager{
	
	position: relative;
}
.slide-control-prev {
	position: absolute;
	text-align: center;
	width: 25px;
	height: 60px;
	background: #00C;
	line-height: 60px;
	color: #F66;
	cursor: pointer;
	top: 80px;
	left: -34px;
	z-index: 1000;
}
.slide-control-1 {
	position: absolute;
	width: 160px;
	height: 205px;
	background: #CCC;
	line-height: 60px;
	color: #F66;
	cursor: pointer;
	left: -160px;
	z-index: 1000;
}

.slide-control-next {
	position: absolute;
	text-align: center;
	width: 25px;
	height: 60px;
	background: #00C;
	line-height: 60px;
	color: #F66;
	cursor: pointer;
	right: -34px;
	top: 80px;
	z-index: 1000;
}
.slide-control-2 {
	position: absolute;
	width: 180px;
	height: 205px;
	background: #CCC;
	line-height: 60px;
	color: #F66;
	cursor: pointer;
	right: -180px;
	z-index: 1000;
}
.slide-container {
	height: 205px;
	width: 100%;
	overflow: hidden;/*dấu đi chiều cao bị thừa*/
	position: relative;/*định vị trí cho thành phần trong*/
}

.slide-stage {
	position: absolute;/*ngoài*/
	top: 3px;/*viền đen ở trên thanh */

}

.slide-image {
	margin-left:20px;
	float: left;
	width: 200px;
	text-align: center;
}

.slide-image img{
	width: 200px;
	height: 192px;
	margin:0 auto;
	border-radius: 15px;
	border:5px double #0F3;
}
